##########################################################################
#                                                                        #
#  This file is part of Frama-C.                                         #
#                                                                        #
#  Copyright (C) 2007-2014                                               #
#    CEA (Commissariat à l'énergie atomique et aux énergies              #
#         alternatives)                                                  #
#                                                                        #
#  you can redistribute it and/or modify it under the terms of the GNU   #
#  Lesser General Public License as published by the Free Software       #
#  Foundation, version 2.1.                                              #
#                                                                        #
#  It is distributed in the hope that it will be useful,                 #
#  but WITHOUT ANY WARRANTY; without even the implied warranty of        #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
#  GNU Lesser General Public License for more details.                   #
#                                                                        #
#  See the GNU Lesser General Public License version 2.1                 #
#  for more details (enclosed in the file licenses/LGPLv2.1).            #
#                                                                        #
##########################################################################

# Default font for all widgets The first exisiting font is used.
style "general 1" 
{
        font_name = "DejaVu Sans"
}
style "general 2" 
{
        font_name = "Lucida Sans Unicode"
}
style "general 3" 
{
        font_name = "Sans"
}
widget "*" style "general 3"
widget "*" style "general 2"
widget "*" style "general 1"

# Style for widgets displaying source code. The first exisiting font is used.
style "monospace 1" 
{
        font_name = "Menlo"
}
style "monospace 2" 
{
        font_name = "DejaVu Sans Mono"
}
style "monospace 3" 
{
        font_name = "Lucida Sans Mono Unicode"
}
style "monospace 4" 
{
        font_name = "Monospace"
}
widget "*source" style "monospace 4"
widget "*source" style "monospace 3"
widget "*source" style "monospace 2"
#widget "*source" style "monospace 1"

