/Makefile
/.make-wp-coq
/.make-wp-why3

/Wp.mli
/.WP_API_GENERATED
/driver.ml
/rformat.ml
/script.ml
/why3_xml.ml
/gui/Wp.mli

/tests/ptests_config
/tests/*/result
/tests/*/result_*

/doc/*/.make-class
/doc/*/.make-icons
/doc/*/.make-images