.typetable {
  border-style : hidden
}
.indextable {
  border-style : hidden
}
.paramstable {
  border-style : hidden ;
  padding: 5pt 5pt
}
td.typefieldcomment {
  font-size: smaller ;
}
pre {
  margin-bottom: 2px;
}
pre, code {
  font-family: terminal,"courier new",monospace;
  font-size: 10pt;
}
div.sig_block {
  margin-left: 2em
}
.keyword {
  font-weight : bold ;
  color : Red
}
.keywordsign {
  color : #C04600
}
.superscript {
  font-size : 4
}
.subscript {
  font-size : 4
}
.comment {
  color : Green
}
.constructor {
  color : Blue
}
.type {
  color : #5C6585
}
.string {
  color : Maroon
}
.warning {
  color : Red ;
  font-weight : bold
}
.info {
  margin-left : 3em;
  margin-right : 3em
}
.param_info {
  margin-top: 4px;
  margin-left : 3em;
  margin-right : 3em
}
.code {
  color : #465F91 ;
}
a .code {
  color : #009F9F ;
}
h1 {
  font-size : 200% ;
  text-align: center;
}
h2 {
  font-size : 180% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  background-color: #90BDFF ;
  padding: 2px;
}
h3 {
  font-size : 150% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: #90DDFF ;
  padding: 2px;
}
h4 {
  font-size : 120% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #90EDFF ;
  padding: 2px;
}
h5 {
  font-size : 100% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #90FDFF ;
  padding: 2px;
}
h6 {
  font-size : 100% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #C0FFFF ;
  padding: 2px;
}
div.h7 {
  font-size : 100% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #E0FFFF ;
  padding: 2px;
}
div.h8 {
  font-size : 100% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #F0FFFF ;
  padding: 2px;
}
div.h9 {
  font-size : 100% ;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #FFFFEE ;
  padding: 100%;
}
ul {
  margin:0;
}
a:visited {
  color : #416DFF;
  text-decoration : none;
}
a:link {
  color : #416DFF;
  text-decoration : none;
}
a:hover {
  color : Red;
  text-decoration : none;
  background-color: #5FFF88
}
a:active {
  color : Red;
  text-decoration : underline;
}
body { background-color : #FFFFEE }
