/ergo/*.mlw.bak
/why3/why3.conf
/why3/*.why.bak
/why3/*.vo
/why3/*.glob
/why3/.*.aux
/why3/.depend
/coqwp/.depend
/coqwp/*/*.vo
/coqwp/*/*.glob
/coqwp/*.vo
/coqwp/*.glob
/coqwp/.*.aux
/coqwp/*/.*.aux
/.depend
/instwp
/install
/html
